<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <app-menuadmin></app-menuadmin>

  <section class="main-content">
    <h2>Administrar habitaciones</h2>
    <div *ngIf="cargando" class="mensaje-info">Cargando...</div>
    <div *ngIf="error" class="mensaje-error">{{ error }}</div>

    <br>
    <div *ngFor="let tipo of tiposDeHabitaciones" class="bloque-habitaciones">
      <h3 class="titulo-habitacion">
        {{ tipo.nombre }}
        <button class="btn-accion editar" (click)="editarTipoHabitacion(tipo.idTipoHabitacion)">
          <i class="fas fa-edit"></i>
        </button>
      </h3>

      <table class="table-responsive" *ngIf="habitacionesPorTipo(tipo.idTipoHabitacion).length">
        <thead>
          <tr>
            <th>Nº Habitación</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let h of habitacionesPorTipo(tipo.idTipoHabitacion)">
            <td data-label="Nº Habitación"><span>{{ h.NumeroHabitacion }}</span></td>
            <td data-label="Tipo">
              <label class="checkbox-tabla">
                <input type="checkbox" [checked]="h.Estado !== 'Deshabilitada'" />
                <span class="checkmark"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!habitacionesPorTipo(tipo.idTipoHabitacion).length && !cargando && !error" class="mensaje-info">
        No hay registros de habitaciones para este tipo.
      </div>
    </div>




  </section>
</div>

<div class="modal-backdrop" *ngIf="mostrarModal">

  <div class="modal-container" [ngClass]="{ 'cerrando': cerrandoModal }" (animationend)="onAnimationEnd('modal')">

    <div class="modal-body">

      <div class="modal-titulo-row">
        <h3>Modificar habitación</h3>

        <br>

        <div class="campos-row">

          <div class="tarifa">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="tipoHabitacion.nombre" />
          </div>

          <div class="tarifa">
            <label>Tarifa Diaria:</label>
            <input type="number" [(ngModel)]="tipoHabitacion.precio" />
          </div>

        </div>
      </div>

      <div class="modal-editor">
        <div class="editor-header">
          <span>Editar descripción</span>
          <button class="btn-lapiz">✎</button>
        </div>
        <div class="editor-contenido">
          <textarea [(ngModel)]="tipoHabitacion.descripcion" rows="6" class="textarea-estilizada"></textarea>
        </div>
      </div>

      <div class="modal-imagenes">
        <div class="imagen-actual">
          <label>Imagen actual</label>
          <div class="imagen-preview">
            <img [src]="tipoHabitacion.imagen" alt="Imagen actual" />
          </div>
        </div>

        <div class="subir-imagen">
          <label>Subir nueva imagen</label>
          <div class="input-upload">
            <input type="file" (change)="onImagenSeleccionada($event)" accept="image/*" />
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>

        <button class="btn-confirm" (click)="actualizarTipoHabitacion()" [disabled]="cargandoAccion">
          <ng-container *ngIf="!cargandoAccion">{{'Actualizar'}}</ng-container>
          <div *ngIf="cargandoAccion" class="cargando"></div>
        </button>
      </div>
    </div>

  </div>
</div>

<div class="modal-backdrop-notificacion" *ngIf="mostrarNotificacion">
  <div class="modal-container-notificacion" [ngClass]="{'cerrando': cerrandoNotificacion}"
    (animationend)="onAnimationEnd('Notificacion')">
    <div class="modal-header-notificacion">
      <h2>{{tituloNotificacion}}</h2>
      <button class="close-button-notificacion" (click)="cerrarModalNotificacion()">×</button>
    </div>
    <div class="modal-body-notificacion">
      <br>
      <p>{{mensajeNotificacion}}</p>
      <br>
    </div>
    <div class="modal-footer-notificacion">
      <button class="btn-confirm" (click)="cerrarModalNotificacion()">Aceptar</button>
    </div>
  </div>
</div>