<div class="inicio-fondo">
  <div class="inicio-opacar"></div>

  <div class="inicio-cuadro">
    <img src="https://i.ibb.co/fYYxbjmG/logo-1.png" alt="Logo Hotel" class="logo" />
    <h2>Inicio de sesión</h2>

    <form (ngSubmit)="iniciarSesion()">
      <div class="formulario-campo">
        <i class="fa-solid fa-user"></i>
        <input
          type="email"
          [(ngModel)]="nombreUsuario"
          name="nombreUsuario"
          placeholder="Correo electrónico"
          required
        />
        <span class="linea"></span>
      </div>

      <div class="formulario-campo">
        <i class="fa-solid fa-lock"></i>
        <input
          type="password"
          [(ngModel)]="contrasena"
          name="contrasena"
          placeholder="Contraseña"
          required
        />
        <span class="linea"></span>
      </div>

      <button type="submit" [disabled]="cargando">
        <ng-container *ngIf="!cargando">Ingresar</ng-container>
        <div *ngIf="cargando" class="cargando"></div>
      </button>
      

      <div *ngIf="mensajeError" class="mensaje-error">
        {{ mensajeError }}
      </div>
    </form>
  </div>
</div>

<footer class="footer">
  <p>© Hotel Arena & Mar Resort 2025</p>
</footer>